**/.~lock*
**/~*.doc
**/~*.docx
**/~*.pptx
**/~*.xlsx
**/*.bbl
**/*.log
**/*.aux
**/*.blg
**/*.fls
**/*.fdb_latexmk
**/Thumbs.db*
**/*.acn
**/*.blo
**/*.ist
**/*.out
**/*.synctex*
**/*.tdo
**/*.toc
**/*.directory
**/*.backup
**/*.project
**/*.glo
**/*.tmp
**/*.ver